body {
    font-family: Helvetica;
    box-sizing: border-box;
}
table {
    width: 100%;
}
textarea {
    font-family: Helvetica;
}
tr {
    width: 100%;
}
path {
    transition: 0.25s;
}
svg {
    transition: 0.25s;
}

.buttonSvg {
    width: 100%;
    height: 100%;
    margin: auto;
}
.deleteButtonActive {
    stroke: #FFF;
    background-color: #F00;
}
.focusedTextArea {

}
.graduationEligible {
    background: #393;
}
.greenBackground {
    background: #393;
}
.otherLanguageDefinition {
    font-style: italic;
    color: #999;
}
.removeVocabWord {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 1.8em;
    height: 1.8em;
}
.svgButton {
    display: inline;
    padding: 0;
    background: none;
    border: none;
}   
.svgWidthTd {
    width: 3em;
}
.unfocusedTextArea {
    color: #666;
    background-color: #DDD;
    font-style: italic;
}
.vocabControls {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 1;
    padding: 15px;
    border-bottom: 3px solid #333;
}
.vocabListDiv {
    width: 100%;
}
.vocabListTable {
    width: 100%;
    border: 1px solid #000;
    overflow-y: scroll;
}
.vocabListRow {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #CCC;
    box-sizing: border-box;
}
.vocabWordDisplayDiv {
    display: inline;
    margin-left: 10px;
    width: 100%;
    height: 100%;
}

#addHighlightedWord {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    border: 2px solid #000;
    padding: 10px;
}
#addSentenceButton {
    width: 100%;
}
#addVocabButton {
    display: inline-block;
    vertical-align: middle;
    width: 3em;
    height: 3em;
}
#backToVocabList {
    margin-right: 10px;
    width: 3em;
    height: 3em;
}
#editDefinitionCell {
    width: 20px;
}
#englishTranslationEntry {
    display: none;
}
#graduateButton {
    display: none;
}
#quizBackButton {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 3em;
    height: 3em;
}
#quizButtonAdvanceSlow {
    width: 100px;
    height: 100px;
}
#quizButtonAdvanceFast {
    width: 100px;
    height: 100px;
    transition: 0.12s;
}
#quizButtonAdvanceSlow {
    display: none;
}
#quizButtonTray {
    position: absolute;
    top: 60%;
    width: 80%;
    left: 10%;
    text-align: center;
    transform: translate(0%, -50%);
}
#quizDiv {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #FFF;
    transition: 0.15s;
}
#quizPrompt {
    position: absolute;
    top: 25%;
    width: 80%;
    left: 10%;
    font-size: 4vw;
    text-align: center;
    transform: translate(0%, -50%);
}
#sentencesTable {
    width: 100%;
}
#sentencesTable textarea {
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}
#singleWordHeaderTable {
    width: 100%;
    box-sizing: border-box;
}
#singleWordTitle {
    display: inline;
    height: 35px;
}
#singleWordView {
    display: none;
    width: 100%;
}
#totalWords {
    margin: 4px;
}
#vocabInput {
    padding: 10px;
    border-radius: 20px;
}