body {
    font-family: Helvetica;
}
tr {
    width: 100%;
}
textarea {
    font-family: Helvetica;
}
path {
    transition: 0.25s;
}
svg {
    transition: 0.25s;
}

.buttonSvg {
    width: 100%;
    height: 100%;
    margin: auto;
}
.deleteButtonActive {
    stroke: #FFF;
    background-color: #F00;
}
.focusedTextArea {

}
.unfocusedTextArea {
    color: #666;
    background-color: #DDD;
    font-style: italic;
}
.otherLanguageDefinition {
    font-style: italic;
    color: #999;
}
.removeVocabWord {
    position: relative;
    width: 1.6em;
    height: 1.6em;
}
.svgButton {
    display: inline;
    padding: 0;
    background: none;
    border: none;
}   
.vocabListDiv {
    width: 100%;
}

.vocabListTable {
    width: 100%;
    border: 1px solid #000;
    overflow-y: scroll;
}

.vocabListRow {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #CCC;
}
.vocabWordDisplayDiv {
    display: inline;
    margin-left: 10px;
    height: 100%;
}

#addSentence {
    width: 100%;
}
#backToVocabList {
    position: fixed;
    left: 5px;
    top: 5px;
    width: 3em;
    height: 3em;
}
#englishTranslationEntry {
    display: none;
}
#sentencesTable {
    width: 100%;
}
#sentencesTable textarea {
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}
#singleWordTitle {
    margin-left: 60px;
}
#singleWordView {
    display: none;
    width: 100%;
}
#totalWords {
    margin: 4px;
}